# Virtual environment
venv/
.venv/
.idea/
__pycache__/
.DS_Store

# Radius report files
radius_report.html
radius_report.json

# Check output and results files
check_output.txt
check_result.txt
framework.log*
logs/
gitlog.txt